<div class="squiggly-border"></div>
<% tasks.each do |task| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#task-list" href=<%= "#collapse-#{task.id}" %>>
        <%= task.subject %>
        <span class="label label-success">Feature</span>
        <span class="label label-warning">Bug</span>
        <span class="label label-info">Research</span>
      </a>
    </div>
    <div id=<%= "collapse-#{task.id}" %> class="accordion-body collapse">
      <div class="accordion-inner">
        <%= task.description %>
      </div>
    </div>
  </div>
<% end -%>
