<div class="row-fluid">
  <div class="span12">
    <%= render 'tasks/sidebar' %>

    <div class="container-fluid content-wrapper">
      <div class="row-fluid">
        <div class="span12">
          <%= render "tasks/list" %>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">&nbsp;</div>
    </div>
  </div>
</div>

<style type="text/css" media="all">
  #task-list a.accordion-toggle {
    font-size: 17px;
    text-decoration: none;
    color: #333333;
  }
  div.squiggly-border {
    background: url('assets/border8.png') repeat-x transparent;
    height: 9px;
    margin-bottom: 20px;
  }
</style>
