#task-list a.accordion-toggle {
  font-size: 17px;
  text-decoration: none;
  color: #333333;
}

.label-feature {
  background-color: #468847;
}
.label-bug {
  background-color: #f89406;
}
.label-research {
  background-color: #3a87ad;
}
.priority-high {
  border-color: #b94a48;
}
.priority-regular {
  border-color: #e5e5e5;
}
