<ul class="breadcrumb">
  <li><a href="javascript:void(0);">Users</a> <span class="divider">/</span></li>
  <li class="active">List</li>
</ul>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Nickname</th>
      <th>Email</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.nickname %></td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_admin_user_path, class: 'btn btn-primary' %>
