<div class="hero-unit">
  <button type="button" class="close hidden-phone" data-dismiss="alert">&times;</button>
  <h1>Notice</h1>
  <p>
  This is your dashboard. Here you'll find a quick breakdown of everything that's been happening on your site, such as traffic reports, site statistics, sales, recent posts and lots more.
  </p>
</div>
