<div class="hero-unit">
  <button type="button" class="close hidden-phone" data-dismiss="alert">&times;</button>
  <h1>Welcome!</h1>
  <p>Hi guy! There is no project now. You need to create project and then create tasks for the project appointed. </p>
  <div class="pull-right">
    <%= link_to "New Project", new_admin_project_path, class: 'btn btn-primary' %>
    <%= link_to "New Task", new_admin_task_path, class: 'btn btn-info' %>
  </div>
</div>
