<div class="row-fluid">
  <div class="span12">
    <div class="sidebar-nav">
      <ul class="nav nav-stacked left-menu">
        <li id="navigation-index" class="active">
        <a href="index.html">
          <span class="box">
            <i class="radmin-icon radmin-cabinet"></i>
          </span>
          <span class="hidden-tablet hidden-phone">All Tasks</span>
        </a>
        </li>
        <li id="navigation-calendar">
        <a href="calendar.html">
          <span class="box">
            <i class="radmin-icon radmin-star-3"></i>
          </span>
          <span class="hidden-tablet hidden-phone">Features</span>
        </a>
        </li>
        <li id="navigation-graphs">
        <a href="graphs.html">
          <span class="box">
            <i class="radmin-icon radmin-lightning"></i>
          </span>
          <span class="hidden-tablet hidden-phone">Bugs</span>
        </a>
        </li>
        <li class="accordion" id="navigation-sample-pages">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#navigation-sample-pages" href="#collapse1">
          <span class="box">
            <i class="radmin-icon radmin-lab"></i>
          </span>
          <span class="hidden-tablet hidden-phone">Researchs</span>
          <span class="label pull-right hidden-tablet hidden-phone">3</span>
        </a>
        <div id="collapse1" class="accordion-body collapse">
          <ul class="nav nav-stacked submenu">
            <li>
            <a href="users.html">
              <span class="box">
                <i class="radmin-icon radmin-user"></i>
              </span>
              <span class="hidden-tablet hidden-phone">Rhodes</span>
            </a>
            </li>
            <li>
            <a href="invoices.html">
              <span class="box">
                <i class="radmin-icon radmin-clipboard-2"></i>
              </span>
              <span class="hidden-tablet hidden-phone">IOS Develop</span>
            </a>
            </li>
            <li class="submenu-last">
            <a href="reports.html">
              <span class="box">
                <i class="radmin-icon radmin-attachment"></i>
              </span>
              <span class="hidden-tablet hidden-phone">Styles</span>
            </a>
            </li>
          </ul>
        </div>
        </li>
        <li class="accordion" id="navigation-components">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="navigation-components" href="#collapse2">
          <span class="box">
            <i class="radmin-icon radmin-plus"></i>
          </span>
          <span class="hidden-tablet hidden-phone">Others</span>
          <span class="label pull-right hidden-tablet hidden-phone">3</span>
        </a>
        <div id="collapse2" class="accordion-body collapse">
          <ul class="nav nav-stacked submenu">
            <li>
            <a href="grid.html">
              <span class="box">
                <i class="radmin-icon radmin-grid-view"></i>
              </span>
              <span class="hidden-tablet hidden-phone">Grid layout</span>
            </a>
            </li>
            <li>
            <a href="icons.html">
              <span class="box">
                <i class="radmin-icon radmin-picture"></i>
              </span>
              <span class="hidden-tablet hidden-phone">Radmin Icons</span>
            </a>
            </li>
            <li class="submenu-last">
            <a href="elements.html">
              <span class="box">
                <i class="radmin-icon radmin-star"></i>
              </span>
              <span class="hidden-tablet hidden-phone">Misc. Elements</span>
            </a>
            </li>
          </ul>
        </div>
        </li>
      </ul>
    </div>

    <div class="container-fluid content-wrapper">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <button type="button" class="close hidden-phone" data-dismiss="alert">&times;</button>
            <h1>Dashboard</h1>
            <p>
            This is your dashboard. Here you'll find a quick breakdown of everything that's been happening on your site, such as traffic reports, site statistics, sales, recent posts and lots more.
            </p>
            <p class="hidden-phone">
            <a class="btn btn-info btn-large pull-right">Learn more &raquo;</a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">&nbsp;</div>
    </div>
  </div>
</div>
