<div class="row-fluid">
  <div class="span12">
    <%= render 'tasks/sidebar' %>

    <div class="container-fluid content-wrapper">
      <div class="row-fluid">
        <div class="span12">
          <%= render 'sites/notice' %>
          <div class="accordion" id="task-list">
            <% @tasks.group_by(&:status).each do |status, tasks| %>
              <h3><%= status.to_s.pluralize.capitalize %></h3>
              <%= render "tasks/listbox", tasks: tasks %>
            <% end -%>
          </div>
        </div>
      </div>
    </div>

    <div class="row-fluid">
      <div class="span12">&nbsp;</div>
    </div>
  </div>
</div>
