<div class="row-fluid hidden-phone hidden-tablet" style="padding-top:20px;">
  <div class="span12 top-stats">
    <ul class="top-nav-boxes">
      <li class="top-stats-arrow" title="Hide Top Stats" id="hide-top-stats">
      <img src="assets/chevron-left.png" alt="Hide Top Stats"/>
      </li>
      <li class="first">
      <a href="#">
        <i class="radmin-pencil"></i>
        <span>New Task</span>
      </a>
      </li>
      <li>
      <a href="#">
        <i class="radmin-pencil-2"></i>
        <span>New Project</span>
      </a>
      </li>
      <li>
      <div class="notifications-wrapper">
        <div class="notifications">
          <strong>3</strong>
        </div>
      </div>
      <a href="#">
        <i class="radmin-folder-2"></i>
        <span>New Task Folder</span>
      </a>
      </li>
      <li id="color-switcher-control">
      <a href="#">
        <i class="radmin-cog"></i>
        <span>Journal</span>
      </a>
      </li>
      <li>
      <div class="notifications-wrapper">
        <div class="notifications">
          <strong>12</strong>
        </div>
      </div>
      <a href="#">
        <i class="radmin-user-3"></i>
        <span>Team Members</span>
      </a>
      </li>
      <li>
      <a href="#">
        <i class="radmin-cabinet"></i>
        <span>History</span>
      </a>
      </li>
      <li>
      <a href="#">
        <i class="radmin-file-2"></i>
        <span>Wiki</span>
      </a>
      </li>
      <li>
      <a href="#">
        <i class="radmin-newspaper"></i>
        <span>Mockups</span>
      </a>
      </li>
    </ul>
  </div>
</div>
