<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner black-gradient">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <a class="brand" href="index.html"><span class="rad">Task</span>manager</a>
      <div class="nav-collapse collapse">
        <p class="navbar-text pull-right">
        <a id="user-popover" href="#" class="navbar-link user-info"> <i class="radmin-icon radmin-user"></i>Zernel Guan</a>
        <a href="login.html" class="btn btn-mini btn-inverse navbar-link logout"> <i class="radmin-icon radmin-redo"></i>Logout</a>
        </p>

        <form class="navbar-search pull-right">
          <input type="text" class="span2 search-query" placeholder="Search">
        </form>
      </div>
    </div>
  </div>
</div>
